@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.btn-primary {
  @apply px-4 py-2 rounded-lg bg-indigo-600 text-white text-sm hover:bg-indigo-700 transition;
}

.btn-secondary {
  @apply px-4 py-2 rounded-lg bg-gray-100 text-sm hover:bg-gray-200 transition;
}

